# Source (only if you really want to ignore it)

# Reports
/allure-results/
/test-output/

# Eclipse
.settings/
.project

# VS Code
.vscode/
.settings.json

# Build folders
/bin/
/logs/

# Documentation
MODERNIZATION_SUMMARY.md